/node_modules
/dist
/build
/web-build
/web-report
/ignore
/.vscode
/coverage
/android
/ios
/temp/*
/tmp/*

/.expo
.expo

ormconfig.json

.env
.env.local
.env.dev
.env.development
.env.development.local
.env.test
.env.test.local
.env.prod
.env.production
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.yarn-integrity
.npm
.eslintcache

.DS_Store
.DS_Store?

nohup.out
