<element
  id="embed-content-box"
  onclick='document.querySelector("#embed-content-box").className="hideElement"'
>
  <element class="embed-content-box-menu">
    <element class="menu-item open-tab1">⇡</element>
    <element class="menu-item close1">🗙</element>
  </element>

  <element
    id="embed-content-box-iframe-space"
    onclick="document.querySelector('#embed-content-box').className='hideElement'"
  >
    <iframe
      name="embed-content-box-iframe"
      id="embed-content-box-iframe"
      src=""
    ></iframe>
  </element>

  <element class="embed-content-box-menu">
    <element class="menu-item open-tab2">⇡</element>
    <element class="menu-item close2">🗙</element>
  </element>
</element>
