<element>
  <h3>Website 3</h3>

  <div>
    <button id="custom-site-three-save-button" class="click-animation">
      SAVE
    </button>

    <select type="text" id="custom-site-three-where-to-open" class="flex-1">
      <option value="⇠ sidebar">open in the sidebar</option>
      <option value="popup">open in the popup</option>
      <option value="popup (iframe method)">
        open in the popup (iframe method)
      </option>
      <option value="⇡ new tab">open in a new tab</option>
      <option value="⇡ new tab (pinned)">open in a new tab (pinned)</option>
      <option value="⇣ current tab">open in the current tab</option>
      <option value="⇣ current tab (pinned)">
        open in the current tab (pinned)
      </option>
    </select>
  </div>

  <div>
    <input
      type="text"
      id="custom-site-three-icon"
      class="micro-width"
      placeholder="Icon"
    />

    <input
      type="text"
      id="custom-site-three-title"
      class="flex-1"
      placeholder="Title"
    />
  </div>

  <div>
    <input
      type="text"
      id="custom-site-three-protocol"
      class="small-width"
      placeholder="Protocol"
    />

    <input
      type="text"
      id="custom-site-three-address"
      class="flex-1"
      placeholder="Website address (without protocol)"
    />
  </div>
</element>
