# Misc
[dD][iI][sS][tT]/
[iI]gnore/
[nN]ode_modules/
[jJ]spm_packages/
[nN]ohup.[oO]ut
[eE]hthumbs.[dD][bB]
[tT]humbs.[dD][bB]
[cC]onnect.[lL]ock
[rR]eadme.test.md
.[sS]ass-[cC]ache
.[cC]ache
.[dD]irectory
.[fF]use_[hH]idden*
.[gG]radle
.[nN]fs*
.[sS]potlight-V100
.[tT]rash-*
.[tT]rashes
.[tT]rashes
.[dD]S_Store
.[dD]S_Store?
.[nN]pm
.[eE]slintcache
.[yY]arn-[iI]ntegrity
.[nN]ext
*.[tT]gz
*~
._*

# Logs
[lL]ogs
*.[lL][oO][gG]
[nN]pm-debug.[lL][oO][gG]*
[yY]arn-[dD]ebug.[lL][oO][gG]*
[yY]arn-[eE]rror.[lL][oO][gG]*

# Environments
.[eE][nN][vV]
.[vV][eE][nN][vV]
.[eE][nN][vV]-[dD]evelopment
.[eE][nN][vV]-[pP]roduction
[eE][nN][vV]/
[vV][eE][nN][vV]/
[eE][nN][vV].[bB][aA][kK]/

# IDEs and editors
.[vV][sS][cC][oO][dD][eE]/*
!.[vV][sS][cC][oO][dD][eE]/settings.[jJ][sS][oO][nN]
!.[vV][sS][cC][oO][dD][eE]/tasks.[jJ][sS][oO][nN]
!.[vV][sS][cC][oO][dD][eE]/launch.[jJ][sS][oO][nN]
!.[vV][sS][cC][oO][dD][eE]/extensions.[jJ][sS][oO][nN]
[vV][sS][cC][oO][dD][eE].lsif
[vV][sS][cC][oO][dD][eE].[dD][bB]
.[hH]istory/
.[iI][dD][eE][aA]
.[pP]roject
.[cC]lasspath
.[cC]9/
*.[lL]aunch
.[sS]ettings/
*.[sS]ublime-workspace
**/.[iI][dD][eE][aA]
*.[sS][wW][pP]
.[vV][sS]/
