<element>
  <div>
    <label>Sidebar theme:</label>

    <select type="text" id="sidebar-theme-select" class="medium-width flex-1">
      <option value="dark">Dark</option>
      <option value="light">Light</option>
      <option value="dark-blue">Dark Blue</option>
      <option value="reptilian">Reptilian</option>
      <option value="potato">Potato</option>
      <option value="unicorn">Unicorn</option>
    </select>
  </div>

  <div>
    <label>Popup theme:</label>

    <select type="text" id="popup-theme-select" class="medium-width flex-1">
      <option value="dark">Dark</option>
      <option value="light">Light</option>
      <option value="dark-blue">Dark Blue</option>
      <option value="reptilian">Reptilian</option>
      <option value="potato">Potato</option>
      <option value="unicorn">Unicorn</option>
    </select>
  </div>
</element>
